<section class="clients">
  <h2 class="clients__title">Высококлассные команды уже выбрали LOKTAR</h2>
  <div class="clients__wrapper">
    <img class="clients__item" src="img/logo_Skillbox.png" alt="skillbox" />

    <img class="clients__item" src="img/logo_skyeng.png" alt="skyeng" />

    <img class="clients__item" src="img/logo_elama.png" alt="elama" />

    <img class="clients__item" src="img/logo_litnet.png" alt="litnet" />

    <img class="clients__item" src="img/logo_Unisender.png" alt="Unisender" />

    <img class="clients__item" src="img/logo_webium.png" alt="webium" />

    <img class="clients__item" src="img/logo_umschool.png" alt="umschool" />

    <img
      class="clients__item"
      src="img/logo_delovayasreda.png"
      alt="delovayasreda"
    />

    <img class="clients__item" src="img/logo_sravni.png" alt="sravni" />
  </div>
  <div class="clients__content">
    <div class="clients__title-wrapper">
      <div class="clients__desk">
        <img src="img/before.png" alt="before Loctar" class="clients__desk-img" />
        <img
          src="img/before-tablet.png"
          alt="before Loctar"
          class="clients__mob-img"
        />
        <span class="clients__content-text"
          >Таргетолог <br />
          до подключения к LOKTAR</span
        >
      </div>
      <div class="clients__mob">
        <div class="clients__box clients__box--1">
          <span class="clients__box-text">Не успевает</span>
        </div>
        <div class="clients__box2">
          <span class="clients__before-mob">до</span>
          <span class="clients__content-text"
            >Таргетолог <br />
            до подключения к LOKTAR</span
          >
        </div>
        <div class="clients__box clients__box--2">
          <span class="clients__box-text"
            >Нехватка <br />
            времени</span
          >
        </div>
        <div class="clients__box clients__box--3">
          <span class="clients__box-text">Тревожность</span>
        </div>
        <div class="clients__box clients__box--4">
          <span class="clients__box-text">Топчется <br /> на месте</span>
        </div>
      </div>
    </div>
  </div>
</section>
