<section class="functions">
  <div class="container functions__container">
    <h2 class="functions__title">
      Как к этому прийти и как тут поможет LOKTAR?
    </h2>
    <h3 class="functions__subtitle">
      Loktar - это сервис автоматизации таргетинга в ВК. Делает за тебя всю
      рутину, которая ниже твоего достоинства :)
    </h3>
    <div class="functions__wrapper">
      <div class="functions__header">
        <span class="functions__header-title">функции </span>
      </div>
      <div class="container">
        <div class="functions__content">
          <div class="functions__tabs">
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text"
                  >Сквозная <br />
                  аналитика</span
                >
                <img src="img/chart.png" alt aria-hidden="true" />
              </div>
            </div>
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text"
                  >Массовое редактирование объявлений</span
                >
                <img src="img/edit.png" alt aria-hidden="true" />
              </div>
            </div>
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text"
                  >Массовое редактирование таргетинга</span
                >
                <img src="img/target.png" alt aria-hidden="true" />
              </div>
            </div>
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text"
                  >Массовое создание: мульти- картинки и тексты</span
                >
                <img src="img/tab-4.png" alt aria-hidden="true" />
              </div>
            </div>
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text"
                  >Переменные <br />
                  в тексте (!)</span
                >
                <img src="img/tab5.png" alt aria-hidden="true" />
              </div>
            </div>
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text"
                  >Авто-<br />
                  сегментация</span
                >
                <img src="img/tab6.png" alt aria-hidden="true" />
              </div>
            </div>
            <div class="functions__tab">
              <div class="functions__tab-wrapper">
                <span class="functions__tab-text">Автотактики</span>
                <img src="img/tab7.png" alt aria-hidden="true" />
              </div>
            </div>
          </div>
          <div class="functions__slider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
