<section class="functions">
  <div class="container functions__container">
    <h2 class="functions__title">
      Как к этому прийти и как тут поможет LOKTAR?
    </h2>
    <h3 class="functions__subtitle">
      Loktar - это сервис автоматизации таргетинга в ВК. Делает за тебя всю
      рутину, которая ниже твоего достоинства :)
    </h3>
    <div class="functions__wrapper">
      <div class="functions__header">
        <span class="functions__header-title">функции </span>
      </div>
      <div class="container">
        <div class="functions__content">
          <div class="functions__tabs swiper">
            <div class="functions__tabs-wrapper swiper-wrapper">
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text"
                    >Сквозная <br />
                    аналитика</span
                  >
                  <img src="img/chart.png" alt aria-hidden="true" />
                </div>
              </div>
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text"
                    >Массовое редактирование объявлений</span
                  >
                  <img src="img/edit.png" alt aria-hidden="true" />
                </div>
              </div>
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text"
                    >Массовое редактирование таргетинга</span
                  >
                  <img src="img/target.png" alt aria-hidden="true" />
                </div>
              </div>
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text"
                    >Массовое создание: мульти- картинки и тексты</span
                  >
                  <img src="img/tab-4.png" alt aria-hidden="true" />
                </div>
              </div>
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text"
                    >Переменные <br />
                    в тексте (!)</span
                  >
                  <img src="img/tab5.png" alt aria-hidden="true" />
                </div>
              </div>
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text"
                    >Авто-<br />
                    сегментация</span
                  >
                  <img src="img/tab6.png" alt aria-hidden="true" />
                </div>
              </div>
              <div class="functions__tab swiper-slide">
                <div class="functions__tab-wrapper">
                  <span class="functions__tab-text">Автотактики</span>
                  <img src="img/tab7.png" alt aria-hidden="true" />
                </div>
              </div>
            </div>
          </div>
          <div class="functions__slider func-slider swiper">
            <div class="func-slider__wrapper swiper-wrapper">
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Смотрите цену лида и клиента в реальном времени по каждому
                    объявлению
                  </h3>
                  <div class="func-slider__img">
                    <img src="img/slide-1.png" alt="analitics" />
                  </div>
                </div>
              </div>
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Вы можете редактировать текст, ссылки или картинки (видео)
                    во всех объявлениях сразу
                  </h3>
                  <div class="func-slider__img">
                    <img
                      src="img/slide-2.png"
                      alt="редактирование объявлений"
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Вы можете редактировать все параметры таргетинга во всех
                    объявлениях сразу
                  </h3>
                  <div class="func-slider__img">
                    <img
                      src="img/slide-3.png"
                      alt="редактирование объявлений"
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Автоматически создавай пост с разными картинками и текстами.
                  </h3>
                  <div class="func-slider__img">
                    <img
                      src="img/slide-4.png"
                      alt="редактирование объявлений"
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Сегментируй по любым критериям таргетинга в один клик
                  </h3>
                  <div class="func-slider__img">
                    <img
                      src="img/slide-5.png"
                      alt="редактирование объявлений"
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Автоматически персонализируй свои объявления на основе пола,
                    возраста или города.
                  </h3>
                  <div class="func-slider__img">
                    <img
                      src="img/slide-6.png"
                      alt="редактирование объявлений"
                    />
                  </div>
                </div>
              </div>
              <div class="swiper-slide func-slider__slide">
                <div class="func-slider__item">
                  <h3 class="func-slider__title">
                    Хватит обновлять статистику каждые 10 минут. Алгоритм будет
                    мониторить за тебя круглосуточно.
                  </h3>
                  <div class="func-slider__img">
                    <img
                      src="img/slide-7.png"
                      alt="редактирование объявлений"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="func-slider__arrows">
              <div class="func-slider__arrow func-slider__arrow--left">
                <img src="img/func-slider-arrLeft.png" alt="prev" />
              </div>
              <div class="func-slider__arrow func-slider__arrow--right">
                <img src="img/func-slider-arrRight.png" alt="next" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
