<header class="header">
  <div class="container">
    <div class="header__wrap">
      <h1 class="visually-hidden">Loctar</h1>
      <div class="header__logo">
        <img src="img/logo3.svg" alt="Loctar" />
      </div>
      <div class="header__wrapper">
        <div class="header__left-menu">
          <div class="header__menu">
            <span class="header__menu-text">меню</span>
          </div>
          <nav>
            <ul class="header__list list-reset">
              <li class="header__item">
                <a href="#" class="header__link">Функции</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">Тарифы</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">Справка</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link">FAQ</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__right-menu">
          <div class="header__menu header__menu--right">
            <span class="header__menu-text">Вход</span>
          </div>
          <nav>
            <ul class="header__list list-reset">
              <li class="header__item">
                <a href="#" class="header__link">начать</a>
              </li>
              <li class="header__item">
                <a href="#" class="header__link"
                  >начать <br />
                  через Elama</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header__welcome-block welcome-block">
        <div class="welcome-block__wrapper">
          <span class="welcome-block__title"
            >Добро пожаловать в систему LOKTAR</span
          >
          <span class="welcome-block__text"
            >Сервис, меняющий день <br />
            таргетолога</span
          >
        </div>
        <div class="welcome-block__bottom">
          <span class="welcome-block__helper">цифровой помощник L</span>
          <img
            src="img/welcome-dots.svg"
            alt
            aria-hidden="true"
            class="welcome-block__img"
          />
        </div>
      </div>
      <div class="header__center">
        <h2 class="header__title">жизнь</h2>
        <div class="header__subtitle">
          <span class="header__subtext">таргетолога не будет прежней</span>
          <img src="img/life-line.svg" alt aria-hidden="true" />
        </div>
      </div>
      <div class="header__bottom">
        <span class="header__bottom-text"
          >Нажмите кнопку <span class="header__bottom-text--bold">СТАРТ</span>, <br />
          чтобы начать</span
        >
        <button class="btn btn-reset header__btn">
          <img src="img/arrow-left.svg" alt aria-hidden="true">
          <span>СТАРТ</span>
          <img src="img/arrow-right.svg" alt aria-hidden="true">
        </button>
      </div>
    </div>
  </div>
</header>
