<header class="header">
  <div class="container">
    <div class="header__logo">
      <img src="img/logo3.svg" alt="Loctar" />
    </div>
    <div class="header__wrapper">
      <div class="header__left-menu">
        <div class="header__menu">
          <span class="header__menu-text">меню</span>
        </div>
        <nav>
          <ul class="header__list list-reset">
            <li class="header__item">
              <a href="#" class="header__link">Функции</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Тарифы</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Справка</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__right-menu">
        <div class="header__menu header__menu--right">
          <span class="header__menu-text">Вход</span>
        </div>
        <nav>
          <ul class="header__list list-reset">
            <li class="header__item">
              <a href="#" class="header__link">начать</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">начать <br/>
                через Elama</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
