<div class="reviews">
  <div class="container reviews__container">
    <div class="swiper reviews__slider">
      <div class="reviews__wrapper swiper-wrapper">
        <div class="reviews__item card swiper-slide">
          <div class="card__img">
            <img src="img/anton.png" alt="anton" />
            <div class="card__img-bg"></div>
          </div>
          <div class="card__wrapper">
            <div class="card__header">
              <div class="card__hero">
                <span class="card__hero-name">герой №1/anthonytoomy</span>
              </div>
              <img class="card__dna" src="img/DNA.svg" alt aria-hidden="true" />
              <span class="card__id"
                >идентификационный <br />
                номер: N76 42 900</span
              >
            </div>
            <div class="card__content">
              <div class="card__title">
                <h3 class="card__name">
                  Антон <br />
                  тум
                </h3>
              </div>
              <div class="card__info">
                <div class="card__item">
                  <img
                    src="img/card-clan.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛАН</span>
                    <span class="card__info-subtitle"
                      >Рекламное агентство Red Bananas</span
                    >
                  </div>
                </div>
                <div class="card__item">
                  <img
                    src="img/card-class.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛасс</span>
                    <span class="card__info-subtitle">Основатель</span>
                  </div>
                </div>
              </div>
              <div class="card__review">
                <span class="card__review-text"
                  >... все 30 таргетологов нашей команды используют Локтар</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item card swiper-slide">
          <div class="card__img">
            <img src="img/andrey.png" alt="andrey" />
            <div class="card__img-bg"></div>
          </div>
          <div class="card__wrapper">
            <div class="card__header">
              <div class="card__hero">
                <span class="card__hero-name">герой №2/andykravets</span>
              </div>
              <img class="card__dna" src="img/DNA.svg" alt aria-hidden="true" />
              <span class="card__id"
                >идентификационный <br />
                номер: N72 56 990</span
              >
            </div>
            <div class="card__content">
              <div class="card__title">
                <h3 class="card__name">Андрей анцибор</h3>
              </div>
              <div class="card__info">
                <div class="card__item">
                  <img
                    src="img/card-clan.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛАН</span>
                    <span class="card__info-subtitle"
                      >Рекламное агентство «Нефтетрафик»</span
                    >
                  </div>
                </div>
                <div class="card__item">
                  <img
                    src="img/card-class.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛасс</span>
                    <span class="card__info-subtitle">Основатель</span>
                  </div>
                </div>
              </div>
              <div class="card__review">
                <span class="card__review-text"
                  >Loktar входит в обязательную часть обучения всех
                  таргетологов, которые начинают работу в нашей команде</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item card swiper-slide">
          <div class="card__img">
            <img src="img/alex.png" alt="alex" />
            <div class="card__img-bg"></div>
          </div>
          <div class="card__wrapper">
            <div class="card__header">
              <div class="card__hero">
                <span class="card__hero-name">герой №3/alastar</span>
              </div>
              <img class="card__dna" src="img/DNA.svg" alt aria-hidden="true" />
              <span class="card__id"
                >идентификационный <br />
                номер: N79 46 680</span
              >
            </div>
            <div class="card__content">
              <div class="card__title">
                <h3 class="card__name">Александр Антощенко</h3>
              </div>
              <div class="card__info">
                <div class="card__item">
                  <img
                    src="img/card-clan.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛАН</span>
                    <span class="card__info-subtitle"
                      >Трафик-команда «Гибкий маркетинг»
                    </span>
                  </div>
                </div>
                <div class="card__item">
                  <img
                    src="img/card-class.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛасс</span>
                    <span class="card__info-subtitle">Основатель</span>
                  </div>
                </div>
              </div>
              <div class="card__review">
                <span class="card__review-text"
                  >Благодарен, как своему психологу, который помогает мне не
                  свихнуться</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__item card swiper-slide">
          <div class="card__img">
            <img src="img/evgeniy.png" alt="evgeniy" />
            <div class="card__img-bg"></div>
          </div>
          <div class="card__wrapper">
            <div class="card__header">
              <div class="card__hero">
                <span class="card__hero-name">герой №4/johnnyads</span>
              </div>
              <img class="card__dna" src="img/DNA.svg" alt aria-hidden="true" />
              <span class="card__id"
                >идентификационный <br />
                номер: N76 87 888</span
              >
            </div>
            <div class="card__content">
              <div class="card__title">
                <h3 class="card__name">Евгений <br /> Ильин</h3>
              </div>
              <div class="card__info">
                <div class="card__item">
                  <img
                    src="img/card-clan.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛАН</span>
                    <span class="card__info-subtitle"
                      >Рекламное агентство PROJECTS</span
                    >
                  </div>
                </div>
                <div class="card__item">
                  <img
                    src="img/card-class.svg"
                    alt
                    aria-hidden="true"
                    class="card__info-img"
                  />
                  <div class="card__info-item">
                    <span class="card__info-title">КЛасс</span>
                    <span class="card__info-subtitle">Основатель</span>
                  </div>
                </div>
              </div>
              <div class="card__review">
                <span class="card__review-text"
                  >Освобождается много времени и рутинные задачи делаются за
                  минуты</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__slider-pagination">
        <div class="reviews__slider-prev">
          <img src="img/slider-arrow.svg" alt="Предыдущий слайд" />
        </div>
        <div class="swiper-pagination reviews__slider-pag"></div>
        <div class="reviews__slider-next">
          <img src="img/slider-arrow.svg" alt="Следующий слайд" />
        </div>
      </div>
    </div>
  </div>
</div>
