<div class="reviews">
  <div class="container">
    <div class="reviews__wrapper">
      <div class="reviews__item card">
        <div class="card__header">
          <div class="card__hero">
            <span class="card__hero-name">герой №1/anthonytoomy</span>
          </div>
          <img class="card__dna" src="img/DNA.svg" alt aria-hidden="true" />
          <span class="card__id">идентификационный <br/> номер: N76 42 900</span>
        </div>
        <div class="card__content">
          <div class="card__title">
            <h3 class="card__name">Антон тум</h3>
          </div>
          <div class="card__info">
            <div class="card__item">
              <img
                src="img/card-clan.svg"
                alt
                aria-hidden="true"
                class="card__info-img"
              />
              <div class="card__info-item">
                <span class="card__info-title">КЛАН</span>
                <span class="card__info-subtitle"
                  >Рекламное агентство Red Bananas</span
                >
              </div>
            </div>
            <div class="card__item">
              <img
                src="img/card-class.svg"
                alt
                aria-hidden="true"
                class="card__info-img"
              />
              <div class="card__info-item">
                <span class="card__info-title">КЛасс</span>
                <span class="card__info-subtitle">Основатель</span>
              </div>
            </div>
          </div>
          <div class="card__review">
            <span class="card__review-text"
              >... все 30 таргетологов нашей команды используют Локтар</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
