// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Exo20", sans-serif;
  --content-width: 1762px;
  --container-offset: 80px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --index: calc(1vw+1vh);
  --font-weight: 400;
  --scrollbarBG: #001324;
  --thumbBG: #11e5b3;

  // colors
  --light-color: #fff;
}
